<section class="excursions">
  <div class="container">
    {{mixins.title('Экскурсии и лекции в прямом эфире')}}
    <p class="excursions_text">С 1 июля вы можете присоединиться к нашим виртуальным мероприятиям — экскурсиям и лекциям для взрослых и детей, оплатив участие на сайте. Встречи будут проходить в прямом эфире на платформе Zoom; предусмотрен формат живого общения с возможностью задавать вопросы экскурсоводу (лектору).
      <br><a href="#" class="excursions_link">Подробнее.</a>
    </p>
    <p class="excursions_text">Мы будем благодарны за любое <a href="#" class="excursions_link">пожертвование</a>. Все поступившие средства будут направлены на организацию онлайн-проектов для наших посетителей.</p>
  </div>
</section>
