<footer class="footer">
  <div class="container footer_inner">
    <div class="footer_col">
      <ul class="footer_list" role="list">
        <li class="footer_item">
          <a href="#" class="footer_link">Посетителям с ограниченными возможностями</a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link">Билеты и льготы</a>
        </li>
        <li class="footer_item">
          <a href="#" class="footer_link">Противодействие коррупции</a>
        </li>
      </ul>
      <div class="footer_socials">
        <h3 class="footer_socialsTitle">
          Соц. сети
        </h3>
        <div class="footer_socialWrap">
          <a href="#"
            class="footer_socialLink footer_socialLink--mail"
            aria-label="Написать нам на почту"
          >
          </a>
          <a href="#"
            class="footer_socialLink footer_socialLink--telegram"
            aria-label="Наш телеграм"
          >
          </a>
          <a href="#"
            class="footer_socialLink footer_socialLink--facebook"
            aria-label="Наш фейсбук"
          >
          </a>
        </div>
      </div>
    </div>
    <article class="footer_col">
      {% include "./_subscribe.html" %}
    </article>
  </div>
</footer>
