<form class="subscribe">
  <fieldset class="subscbibe_inner">
    <legend>Подписка на новости</legend>
    <div class="subscribe_emailWrap">
      <label for="" class="subscribe_label">
        <span
          class="subscribe_labelText"
          id="subscribe_labelText"
        >
          Е-mail
        </span>
        <input
          id="subscribe"
          type="email"
          class="footer_input"
          aria-labelledby="subscribe_labelText"
        >
      </label>
      <button class="subscribe_btn">Подписаться</button>
    </div>
    <label class="subscribe_agreeLabel">
      <input
        type="checkbox"
        name="agree_processing"
        id="footer_checkbox"
        class="footer_checkbox"
        aria-labelledby="footer_checkboxLabel"
      >
      <span
        id="footer_checkboxLabel"
        class="footer_checkboxLabel"
      >Согласен на обработку персональх данных</span>
    </label>
  </fieldset>
</form>
