.excursions_text {
    max-width: 60%;
    font-size: 1.375rem;
    line-height: 1.18;

    &:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

.excursions_link {
    color: $purple;
    transition: .3s background ease-out, .3s color ease-out;

    &:focus,
    &:hover {
        text-decoration: none;
        background: $purple;
        color: $white;

    }
}
