.tabs_btn {
    font-size: 1.375em;
    line-height: 1.18;
    background: transparent;
    text-decoration: underline;
    text-align: center;
    box-shadow: none;
    padding: 1rem 2.37rem;
    border-radius: 8px;

    &:hover {
        text-decoration: none;
        background: $purple;
        color: $white;
    }

    &[aria-selected="true"] {
        background: $blue-1;
        text-decoration: none;

        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }
}

.tabs_panel {
    padding: 2rem 0;

    &--building {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
    }

    &.is-hidden {
        display: none;
    }

    > p {
        padding-bottom: 1rem;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}
